

div.timeline

    //.avatar
        img(src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm', alt='Pavol Hejný')

    mixin project(name, featuredImage)
        li.card.project.selectable
            .skeleton
                .line
                    .label-above 2018 - 2016
                .circle
                .more
                    .line
                        .circle
                        .label-above
                            span.meta /^
                            span.text project
                            span.meta $/
                        .label-bellow 
                            span 24/6/2018
            .inner
                .arrow
                h3.name= name
                //h4.subname
                    span.meta /^
                    span.text project
                    span.meta $/

    mixin event(name, featuredImage)
        li.card.event.selectable(
            data-featured-image= featuredImage
        )
            .skeleton
                .line   
                .circle
                .more
                    .line
                        .circle
            //article.content
                .inner
                    p= content
            .inner
                .arrow
                h3.name= name
                //h4.subname
                    span.meta /^
                    span.text hackathon
                    span.meta $/



    mixin year(year)
        .circle
            .label= year
        .empty


    ul.clear.events
        //.empty-todo-remove-this-hack
        .line
        +year(2018)
        +project('H-Edu')
        +event(
            'Kóduj pro Česko',
            '33692658_10155680999023590_4747848035172614144_n'
        )
        +event('JobsDev','23915683_1943247489329010_7075262240567444466_n')
        +event('StartupWeekend Plzeň','14947711_1778991995650932_1228791466977297790_n')
        +project('H-Edu')
        +event('StartupWeekend Olomouc')
        +project('H-Edu')
        +project('H-Edu')
        +year(2017)
        +event('Kóduj pro Česko')
        +event('JobsDev')
        +event('StartupWeekend Plzeň')
        +event('StartupWeekend Olomouc')
        +event('StartupWeekend Olomouc vvvvvvvvvvvvv')
