

div.timeline




    mixin item(name, type, innerSkeletonLabel, featuredImageInner,featuredImageOuter, abstractText)
        .item
            li.card.selectable(data-featured-image= featuredImageOuter)

                .skeleton-outer
                    .line
                        .circle.small
                        .label-above
                            h1.name= name
                            h2.subname
                                span.meta <
                                span.text project
                                span.meta />
                        .label.label-bellow 
                            
                            //span ahoj
                            //span.time 2018-06-02
                            //ul.participants
                                li Ahoj Ahoj
                                li Ahoj Ahoj
                                li Ahoj Ahoj
                            p.abstract= abstractText


                if innerSkeletonLabel
                    .skeleton-inner-with-label
                        .line
                            .circle.small
                            .label.label-above 2018 - 2016
                        
                else
                    .skeleton-inner
                        .line
                            .circle.small

     
                a.inner(href="/article1",style=`background-image:url(/images/events/${featuredImageInner}.jpg);background-size: cover;background-position: center;`)
                    h3.name= name


    mixin year(year,left)
        if left
            .year.left
                .circle.big
                    .label= year
        else 
            //todo DRY
            .year.right
                .circle.big
                    .label= year
        .keep-odd-even-hack



    //Vytvořili jsme volební kalkulačku offline. Je to perfektní nástroj na přinesení diskuse o politických tématech na veřejná místa...
    
    
    
    ul.clear.events
        .line.timeline-line
        include ./timeline-content
        
        

