

div.timeline




    mixin item(name, type, innerSkeletonLabel, featuredImageInner,featuredImageOuter, abstractText)
        .item
            li.card.selectable(data-featured-image= featuredImageOuter)

                .skeleton-outer
                    .line
                        .circle.small
                        .label-above
                            h1.name= name
                            //h2.subname
                                span.meta <
                                span.text project
                                span.meta />
                        .label.label-bellow
                            .abstract
                                :verbatim
                                    !{abstractText}


                if innerSkeletonLabel
                    .skeleton-inner-with-label
                        .line
                            .circle.small
                            .label.label-above 2018 - 2016
                        
                else
                    .skeleton-inner
                        .line
                            .circle.small

     
                a.inner(href="/article1",style=`background-image:url(/images/events/${featuredImageInner}.jpg);background-size: cover;background-position: center;`)
                    h3.name= name


    mixin year(year,left)
        if left
            .year.left
                .circle.big
                    .label= year
        else 
            //todo DRY
            .year.right
                .circle.big
                    .label= year
        .keep-odd-even-hack



    
    
    
    ul.clear.events
        .line.timeline-line
        +year(2018,false)
        each article in content.articles
            +item(
                article.title,
                'type',
                '2017 - ',
                '33692658_10155680999023590_4747848035172614144_n',
                '33692658_10155680999023590_4747848035172614144_n',
                content.articles[0].content
            )
        //include ./timeline-content
        
        

