

div.timeline




    mixin item(article)
        .item
            li.card.selectable(data-featured-image= article.featuredImages.back)

                .skeleton-outer
                    .line
                        .circle.small
                        .label-above
                            h1.name= article.title
                            //h2.subname
                                span.meta <
                                span.text project
                                span.meta />
                        .label.label-bellow
                            .abstract
                                :verbatim
                                    !{article.abstract}

                             if !article.isWritten
                                div.preparing
                                    .loader
                                    span Preparing
                                //a.button(href='/')
                                    button
                                        .loader
                                        span Preparing

                            //else 
                            //a.button(href='/')
                                button ...Preparing...
                                


                if article.innerLabel
                    .skeleton-inner-with-label
                        .line
                            .circle.small
                            .label.label-above= article.innerLabel
                        
                else
                    .skeleton-inner
                        .line
                            .circle.small

     
                a.inner(href=`/${article.uri}`,style=`background-image:url('${article.featuredImages.front}');background-size: cover;background-position: center;`)
                    h3.name= article.title


    mixin year(year,left)
        if left
            .year.left
                .circle.big
                    .label= year
        else 
            //todo DRY
            .year.right
                .circle.big
                    .label= year
        .keep-odd-even-hack



    
    
    
    ul.clear.events
        .line.timeline-line
        each year, yearIndex in content.years
            +year(year.label,yearIndex%2)
            each article in year.articles
                +item(article)
        
        

